.team {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  align-items: center;
}
.team__ourteam {
  display: flex;
}
.team__discription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
.team__avatar {
  height: 80px;
  width: 80px;
}
.team__hand {
  width: 445px;
  height: 440px;
}
.team__avatars {
  display: flex;
  gap: 20px;
}
.team__content {
  font-size: 18px;
}
.team__title {
  font-size: 40px;
}
@media (max-width: 1200px) {
  .team {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) and (min-width: 640px) {
  .team__hand {
    width: 375px;
    height: 370px;
  }
  .team__title {
    font-size: 24px;
  }
  .team__content{
    font-size: 16px;
  }
}
@media screen and (max-width: 640px){
  .team__hand{
    width: 235px;
    height: 290px;
  }
  .team__title{
    font-size: 24px;
  }
  .team__content{
    font-size: 16px;
  }
  .team{
    margin: 50px auto;
  }
}